flows.json
[{"id":"d3636e5.dd89b9","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f2f2649a.0d0d98","type":"debug","z":"d3636e5.dd89b9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":890,"y":280,"wires":[]},{"id":"b1b11140.4e4ef","type":"inject","z":"d3636e5.dd89b9","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":111,"y":61,"wires":[["9cb2c139.4b6b7"]]},{"id":"9cb2c139.4b6b7","type":"function","z":"d3636e5.dd89b9","name":"","func":"msg.payload=msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":320,"y":160,"wires":[["717d4306.abe6dc"]]},{"id":"717d4306.abe6dc","type":"watson-conversation-v1","z":"d3636e5.dd89b9","name":"Chatbot","workspaceid":"9ad98981-1e1a-4466-a6f3-180552ff08b7","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/571a8dc9-edc6-453f-ae9b-29e6c2e3808d","timeout":"","optout-learning":false,"x":520,"y":160,"wires":[["b4ce6171.ba739"]]},{"id":"b4ce6171.ba739","type":"function","z":"d3636e5.dd89b9","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":160,"wires":[["f2f2649a.0d0d98","a3c51090.af73"]]},{"id":"a3c51090.af73","type":"ui_text","z":"d3636e5.dd89b9","group":"289dadbe.accd12","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":940,"y":60,"wires":[]},{"id":"958d2c4b.1f845","type":"ui_form","z":"d3636e5.dd89b9","name":"","label":"","group":"289dadbe.accd12","order":0,"width":0,"height":0,"options":[{"label":"Form","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":120,"y":240,"wires":[["9cb2c139.4b6b7"]]},{"id":"289dadbe.accd12","type":"ui_group","z":"","name":"","tab":"86dd64c6.f14d98","order":1,"disp":true,"width":"8","collapse":true},{"id":"86dd64c6.f14d98","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false,"info":" * #  Chatbot"}]